.card-store {
    margin-right: 1rem;
    margin-left: 1rem;
}

.store-home {
    &__shop {
        &__container {
            background-color: rgba(152, 199, 199, 0.6);
            padding: 1rem;
            width: auto;
            height: auto;
            border-radius: 1rem;
        }
        &__logo {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            box-shadow: 0 0 0 3px #fff, 0 0 0 6px #ccc;
            margin-left: 1rem;
        }
        &__active{
            margin-left: 2rem;
            &__icon{
                display: inline-block;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #42ab17;
                margin-right: 0.5rem;
            }
        }
    }
}