.header__notify {
    position: absolute;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.05);
    top: 120%;
    right: 2px;
    width: 404px;
    border: 1px solid #bdbdbd;;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
}
.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    width: 120px;
    height: 20px;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-list {
      padding-left: 0;
}
.header__notify-item {
    display: flex;

}
.header__notify-item:hover {
     background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-header {
     height: 40px;
     background-color: var(--white-color);

}

.header__notify-header h3 {
     color: #666;
     margin: 0 0 0 12px;
     font-weight: 400;
     font-size: 1.4rem;
     line-height: 40px;
     user-select: none;
}
.header__notify-img {
     width: 48px;
     object-fit: contain;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
   
}

.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.3rem;
    color: var(--black-color);
    font-weight: 350;
    line-height: 1.8rem;
}
.header__notify-descript {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #756E6E;
    margin-top: 4px;
}

.header__notify-footer {
   display:flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}