.carousel-inner {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    padding-top: 16rem !important;
    padding-bottom: 30rem;
}

.carousel-control-next {
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-15%);
}
.carousel-control-prev {
    left: 0 !important;
    top: 50% !important;
    transform: translateY(-15%);
}

.carousel-control-next-icon {
    width: 30px !important;
    height: 30px !important;
    // background-color: #b5b5b5c5;
}

.carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
    // background-color: #b5b5b5e3;
}