.card-search {
    margin-left: 1rem;
    margin-right: 1rem;
}


.home-search-product-item {
    position: relative;
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
} 

.home-search-product-item:hover {
     transform: translateY(-2px);
     box-shadow: 0 0.1rem 2rem 0 rgba(0,0,0,0.05);
}

.home-search-product-item__img  {
    width: 100%;
    height: 25rem;
}

.home-search-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem; 
    height: 3.6rem;
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}


.home-search-product-item__safe-off {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(228, 85, 20, 0.85);
    text-align: center;
    // margin: auto;
}

.home-search-product-item__safe-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(228, 85, 20, 0.85) transparent rgba(238, 87, 27, 0.85) ;
}

.home-search-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.4rem;
    position: relative;
    top: 10px;
    // margin: auto;
}

.home-product {
    margin-bottom: 10px;
}

.home-product__pagination {
    margin: 50px 0 32px 0;
}

.home-search-product-item__amount {
    position: absolute;
    bottom: 45px;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,.26);
    text-align: center;
    color: #fff;
    &__quantity{
        color: var(--white-color);
    }
}