.product-detail__modal iframe {
    width: 100%;
    height: 80vh;
  }

  .product-detail__slide {
    width: 100%;
    height: 100%;
  }

  .product-detail__modal__img {
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .carousel-inner {
    top: -50% !important;
  }
