.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6  rem;
    color: var(--text-color);
    padding: 8px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);

}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 8px 0 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {
    list-style: none;
}

.category-item-active .category-item__link {
     color: var(--primary-color);
}

.category-item-active .category-item__link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 4px;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);


}

.category-item__link {
    position: relative;
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.5rem;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
 
}

.select-input__list {
    z-index: 1;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}