.account-list-content {
    width: 100%;
    height: fit-content;
    min-height: 84vh;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 20px;
    font-size: 1.1rem;
    margin: auto;

    &__action {
        width: 100%;
        height: 100%;
        margin-top: 1%;
        display: grid;
        grid-template-columns: 58.5% 5.5% 25% 12%;
        padding: 4px 0 4px 10px;

        &__span {
            color: var(--white-color);
            margin-right: 1rem;
        }

        &__select {
            width: 100%;
            select {
                width: 6%;
                height: 50.5%;
                background-color: #f0f0f0 !important;
                border-radius: 20px;
                border: none;
                text-align: center;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        &__filter-unactive {
            height: 5.5vh;
            width: 5.5vh;
            border-radius: 50%;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            cursor: pointer;
        }

        &__filter-active {
            height: 5.5vh;
            width: 5.5vh;
            border-radius: 50%;
            background-color: var(--hover-color);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            cursor: pointer;
        }

        &__search {
            width: 100%;
            position: relative;
            button {
                display: none;
            }
            &__icon {
                position: absolute;
                top: 1.5vh;
                left: 1vw;
                color: #777;
                z-index: 1;
            }
        }

        &__add {
            width: 9vw;
            height: 5.5vh;
            display: flex;
            justify-content: center;
            margin: auto;
            font-size: 1rem;
            border-radius: 20px;
            background-color: #b4e2b3;
            color: #000;
            padding: 0 1vw;
            text-decoration: none;

            span {
                margin: auto;
                font-size: 1.2rem;
                text-decoration: none;
            }

            &__icon {
                margin: auto;
                padding-top: 0.5vh;
            }
        }

        &__add:hover {
            color: #fff;
            background-color: var(--hover-color);
        }
    }

    &__sub {
        width: 95%;
        // margin: auto;
        margin-left: 4vw;
        &__table {
            table {
                margin-top: 1%;
                tr {
                    height: 5px !important;
                    cursor: pointer;
                    th {
                        padding: 1.5vh !important;
                        font-size: 1.1rem;
                    }
                    td:nth-child(1) {
                        width: 0px;
                        height: 0px;
                        border-radius: 0%;
                    }
                    td {
                        font-size: 1.4rem !important;
                        padding: 1vh 0 1vh 1.5vh !important;
                        max-width: 10vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #000;
                    }
                }
            }
        }
    }
}



.ant-table-cell .avatar-user {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.account-list-content-unactive {
    display: none;
}

.account-list-menu {
    width: 17vw;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #999;
    padding: 2vh 2vh;

    &__item {
        &__row {
            height: 5vh;
            display: grid;
            grid-template-columns: 40% 60%;

            &__span {
                margin: auto 0;
            }

            select {
                margin: auto;
                height: 4vh;
                width: 100%;
                background-color: #fff;
                border: 1px solid #ddd !important;
                padding-left: 0.5vw;
            }

            option {
                border-radius: 0px;
            }
        }
    }
}

.ant-input-group .ant-input {
    background-color: #f0f0f0;
}

.ant-input-affix-wrapper {
    height: 5.5vh;
    padding-left: 3vw;
    border-radius: 20px !important;
    background-color: #f0f0f0;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    z-index: 1;
}

.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
    border-color: #41bc3f;
    box-shadow: 0 0 3px #41bc3f;
    border-right-width: 1px;
    outline: 0;
}

.ant-input-search-button:hover {
    background-color: transparent;
}

.delete-account-modal {
    width: 30vw !important;
    top: 30% !important;

    .ant-modal-content {
        border-radius: 20px !important;

        .ant-modal-header {
            border-radius: 20px 20px 0 0;
            background-color: #e9e9e9;
        }

        .ant-modal-body {
            height: 10vh !important;
        }

        .ant-modal-footer {
            text-align: center;

            .ant-btn {
                width: 7vw;
                height: 5vh;
                border-radius: 20px;
                font-size: 14px;
                font-weight: bolder;
                margin: 0 1vw;
                color: #222;
                background-color: #d5d5d5;
                border: none;
            }

            .ant-btn-primary {
                background: #41bc3f;
                color: #fff;
            }
        }
    }
}

.icon-edit {
    color: #555;
}

.icon-edit:hover {
    color: #41bc3f;
}

.icon-delete {
    color: #555;
}

.icon-delete:hover {
    color: red;
}

