* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    // font-size: 1.1vh;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.login-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    // background: #00483d; remove on 2024/11/11
    background: #63ae71;
    display: flex;
    &__sub {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        width: 74%;
        height: 80%;
        background-color: #fff;
        border-radius: 20px;
        margin: auto;
        position: relative;
        &__image {
            border-radius: 20px;
            height: 100%;
            margin-left: 6%;
        }
        &__content {
            width: 40vw;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            margin-right: 6%;
            &__form {
                margin: auto;
                text-align: center;
                .image-avatar {
                    height: 10vh;
                    // margin-left: 30%;
                    margin-left: 35%;
                }
                h2 {
                    font-size: 2.4rem;
                    margin: 8px 0;
                    text-transform: uppercase;
                    color: #555;
                }
                &__item {
                    display: flex;
                    flex-direction: row;

                    i {
                        margin-top: 5px;
                        color: #555;
                        font-size: 20px;
                    }
                    .form-item {
                        width: 300px;
                        margin-left: 10px;
                        .input {
                            border: none;
                            background-color: #fff !important;
                            border-bottom: 1px solid #999;
                            border-radius: 0 !important;
                            padding: 2% 4%;
                        }
                        .input:hover,
                        .input:focus {
                            border-bottom: 2px solid #00483d;
                            box-shadow: none;
                        }
                        .input:not(:focus),
                        input:focus {
                            box-shadow: none;
                        }
                    }
                }
                .forgot-password {
                    color: #999;
                    margin-bottom: 2%;
                    float: right;
                    cursor: pointer;
                }
                .create-account {
                    color: #999;
                    text-align: center;
                }
                .forgot-password:hover,
                .create-account:hover {
                    color: #00483d;
                    text-decoration: underline;
                }
                .button-submit {
                    display: block;
                    width: 100%;
                    height: 6vh;
                    border-radius: 25px;
                    border: none;
                    background-image: linear-gradient(
                        to right,
                        #00483d,
                        #55c653,
                        #41bc3f
                    );
                    background-size: 200%;
                    color: #fff;
                    margin: 2% 0;
                    cursor: pointer;
                    transition: 0.5s;
                    background-color: #00483d;
                    font-size: medium;
                }
                .button-submit:hover {
                    background-position: right;
                }
            }
        }
    }
}

.ant-form-item-explain-error {
    color: #ff4d4f;
    text-align: left;
}

.ant-modal-body {
    height: 20vh !important;
}

@media screen and (max-width: 1050px) {
    .login-container-sub {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-form-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    /* .img-background{
		width: 400px;
	} */
}

@media screen and (max-width: 900px) {
    .login-container-sub {
        grid-template-columns: 1fr;
    }

    .login-img-background {
        display: none;
    }

    .img-background {
        display: none;
    }

    .login-form-content {
        justify-content: center;
    }
}
