.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
  div {
    display: flex;
  }
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
}

.header__navbar-user-name {
  margin-left: 6px;
  font-size: 1.4rem;
  font-weight: 450;
  color: var(--white-color);
  margin-top: 4px;
  text-decoration: none;
}

.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: 100%;
  right: 0;
  width: 180px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 30px;
  top: -29px;
}

.header__navbar-user-item :hover,
.header__navbar-user-item :focus {
  color: var(--primary-color);
  font-weight: 100rem;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 16px;
  display: block;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #fafafa;
}
