.messenger {
  height: calc(100vh - 140px);
  display: flex;
  margin-top: 14rem;
}

.chatMenu {
  flex: 2.5;
}

.search-container {
  position: relative;
  display: flex;
  .chatMenuInput {
    width: 100%;
    padding: 10px 0 10px 26px;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid gray;
    outline: none;
  }
  .search-icon {
    font-size: 16px;
    position: absolute;
    top: 11px;
    left: 5px;
  }
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding: 0 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
}

.chatMessageInput {
  width: 100%;
  height: 60%;
  font-size: 12px;
  background-color: transparent;
  color: black;
  border: none;
  padding-left: 8px;
  &::selection {
    background-color: #9a86f3;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 16px;
}
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.openConversation-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .waiting-conversation {
    width: 90%;
    height: auto;
  }
  .noConversationText {
    position: absolute;
    top: 80%;
    font-size: 35px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}
